@import '~@angular/material/theming';
@mixin navtabs-component-theme($thehotel) {
  $primary: map-get($thehotel,primary);
  $primary: map-get($thehotel,accent);
  
    .navtabs-container{
        background-color: mat-color($thehotel-primary,500);
    }

}