<div class ="hero-container">
  <div class="book-now-container">
   <div fxFlex fxLayoutAlign="flex-end">
       <button class="book-now-button"mat-stroked-button color = "primary">
         Book Now
       </button>
    </div>
  </div>
 <div class="header-container" fxLayout="row" fxLayout="column"  fxLayoutAlign="center center">
   <h2 class="mat-display-1">
     
   </h2>
   <h1 class="mat-display-4">
        Lifestyle
     </h1>
 </div>
 <div class="goa">
   <h3> Goa </h3>
 </div>
 </div>
 <section class="home-section">
   <div fxLayout="column" fxLayourAlign="center center">
     <div>
     <h2 class="mat-subheading-2">Luxury beach Kifestyle</h2>
   </div>
   <div>
   <h3 class="mat-subheading-3">Asia's Paradise</h3>  
   </div>  
   <div>
     <p fxFlex="70" fxFlexOffset="15" class="mat-body-1">
      Impatience can be a real mood killer. Whenever things aren't "happening fast enough" is when most people start to spiral down into a negative place.
       But you need to remember that the ups and downs are what make the path a journey. 
     </p>
   </div>
 </div>
 <div class="room-home-display" fxLayout.fx="column" fxflexLayoutWrap fxLayoutGap="3%" fxLayoutAlign="center center">
 <mat-card class="rooms-suites" fxFlex="40" fxFlex.sm="80">
   <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
 <h2>Rooms &amp; Suites</h2>
   </mat-card-header>
   
 
 </mat-card>
 <mat-card class="beach-houses" fxFlex="40" fxFlex.sm="80">
     <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
   <h2>Rooms &amp; Suites</h2>
     </mat-card-header>
    
   
   </mat-card>
 </div>
 
 
 </section>