<div class ="hero-container">
  <div class="book-now-container">
   <div fxFlex fxLayoutAlign="flex-end">
       <button class="book-now-button"mat-stroked-button color = "primary">
         Book Now
       </button>
    </div>
  </div>
 <div class="header-container" fxLayout="row" fxLayout="column"  fxLayoutAlign="center center">
   <h2 class="mat-display-1">
     Restaurants and Bars
   </h2>
   <h1 class="mat-display-4">
        Dinings 
     </h1>
 </div>
 <div class="goa">
   <h3> Goa </h3>
 </div>
 </div>
 <section class="home-section">
   <div fxLayout="column" fxLayourAlign="center center">
     <div>
     <h2 class="mat-subheading-2">Luxury Dining &amp; Restaurants</h2>
   </div>
   <div>
   <h3 class="mat-subheading-3">Asia's Paradise</h3>  
   </div>  
   <div>
     <p fxFlex="70" fxFlexOffset="15" class="mat-body-1">
      I get way too much happiness from good food..
      Food is for eating, and good food is to be enjoyed..
     </p>
   </div>
 </div>
 <div class="room-home-display" fxLayout.fx="column" fxflexLayoutWrap fxLayoutGap="3%" fxLayoutAlign="center center">
 <mat-card class="rooms-suites" fxFlex="40" fxFlex.sm="80">
   <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
 <h2>Rooms &amp; Suites</h2>
   </mat-card-header>
   
 
 </mat-card>
 <mat-card class="beach-houses" fxFlex="40" fxFlex.sm="80">
     <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
   <h2>Rooms &amp; Suites</h2>
     </mat-card-header>
     
   
   </mat-card>
 </div>
 
 
 </section>