.book-now-container{
    padding: 35px 115px;
    
    
    }
    
    .hero-container{
      
      
        background: url(/assets/images/celebration1.jpg)center center no-repeat;
        background-size: cover;
        
        
    }
    .book-now-button
    {
        width:170px;
        color: white;
        border: 1px slid white;
        text-transform: uppercase;
        border-radius: 4px;
    }
    .header-container{
        padding: 60px 20px;
        text-align: center;
        max-width: 6000px;
        
    }
    
    .goa {
    position : relative;
    width : 100%;
    text-align: center;
    transform:  translate(-50%, 50%);
    }
    .goa h3{
        -webkit-text-fill-color: transparent;
        background: url(/assets/images/thailand.jpg) repeat;
        -webkit-background-clip: text;
        font-stretch: normal;
        font-size: 200px;
        letter-spacing: 0.09em;
        font-weight: 500;
        text-transform: uppercase;
        font-family: Rubik,sans-serif;
           top:50%;
           left: 50%;
           position: relative;
        }
    .header-container .mat-display-4{
        color: white;
    }
    .header-container .mat-display-1{
        margin: 10px;
    }
    /*@media all and (max-width: 768px){
        .hero-container{
          height: 100vh;
    }
    }*/
    @media all and (max-width: 590px){
        .hero-container .mat-display-1{
        font-size: 1.1rem;
        line-height: 1.1;
    }
        .header-container .mat-display-4{
        font-size: 3rem;
        line-height: 1.1;
        }
    }
    .home-section{
        padding-top: 10px;
    }
    .home-section {
        
        text-align: center;
        line-height: normal;
    }
    
    .home-section p{
        text-align: center;
        line-height: normal;
    }
    .room-home-display{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 15px; 
    
    }
    .room-home-display mat-card{
        height: 600px;
    }
    
    .rooms-suites{
        background: url(/assets/images/celebration2.jpg) center center no-repeat;
        background-size: cover;
    }
    .beach-houses{
        background: url(/assets/images/celebration3.jpg) center center no-repeat;
        background-size: cover;
    }
    .room-home-display mat-card-header h2{
        text-transform: uppercase;
        font-weight: 400;
        font-size: 34px;
        line-height: 43px;
    }
    .room-home-display mat-card-header{
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        width : 100%;
        text-align: center;
        height: 55px;
        background: rgba(255,248,225,.6);
    }
    .room-home-display mat-card-actions{
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .room-home-display mat-card button{
        min-width: 141px;
        min-height: 40px;
    } 
    @media all and(max-width: 1288px){
        .goa,
        .goa h3{
            display:none;
        }
    
    }